# Analisis de indicadores de desarrollo del Banco Mundial

### El presente es un _ejercicio_ para **analisar** informacion descargada el [Banco Mundial](https://datos.bancomundial.org/)

In [1]:
import numpy as np
import pandas as pd

Indicadores = pd.read_csv('/Users/the.greenpanter/Documents/Soyhenry/CambioCliamticoImpactoAgricola/proyecto R/Agriculture & Rural Development/API_1_DS2_en_csv_v2_6011403.csv')

Indicadores.head(30)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.046919,0.055358,0.092621,0.085188,0.079480,0.076267,0.104098,0.069199,0.102736,NaN
1,Aruba,ABW,Agricultural raw materials imports (% of merch...,TM.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.303687,0.398228,0.496427,0.335550,0.297792,0.311423,0.350670,0.339582,0.353604,NaN
2,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239000,49.254000,49.2700,49.285000,49.300000,...,57.010000,56.959000,56.892000,56.808000,56.707000,56.589000,56.454000,56.303000,56.134000,55.948000
3,Aruba,ABW,Rural population growth (annual %),SP.RUR.TOTL.ZG,NaN,2.211234,1.577679,1.4226,1.245827,1.065002,...,0.691192,0.601746,0.520623,0.442423,0.358555,0.287256,0.213237,-0.133220,-0.347205,-0.417236
4,Aruba,ABW,Rural population,SP.RUR.TOTL,26880.000,27481.000000,27918.000000,28318.0000,28673.000000,28980.000000,...,58652.000000,59006.000000,59314.000000,59577.000000,59791.000000,59963.000000,60091.000000,60011.000000,59803.000000,59554.000000
5,Aruba,ABW,Employment in agriculture (% of total employme...,SL.AGR.EMPL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Aruba,ABW,"Employment in agriculture, male (% of male emp...",SL.AGR.EMPL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Aruba,ABW,"Employment in agriculture, female (% of female...",SL.AGR.EMPL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Aruba,ABW,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.017817,0.014812,0.012519,0.018611,0.023921,0.022253,0.027573,NaN,NaN,NaN
9,Aruba,ABW,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,486033.519600,413407.821200,370949.720700,555307.262600,739664.804500,729050.279300,936312.849200,NaN,NaN,NaN
10,Aruba,ABW,"Annual freshwater withdrawals, agriculture (% ...",ER.H2O.FWAG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Aruba,ABW,Rural population living in areas where elevati...,EN.POP.EL5M.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.391895,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Aruba,ABW,Agricultural nitrous oxide emissions (% of total),EN.ATM.NOXE.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Aruba,ABW,Agricultural nitrous oxide emissions (thousand...,EN.ATM.NOXE.AG.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Aruba,ABW,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Aruba,ABW,Agricultural methane emissions (thousand metri...,EN.ATM.METH.AG.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Aruba,ABW,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN
17,Aruba,ABW,Cereal yield (kg per hectare),AG.YLD.CREL.KG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Aruba,ABW,Surface area (sq. km),AG.SRF.TOTL.K2,NaN,180.000000,180.000000,180.0000,180.000000,180.000000,...,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,NaN
19,Aruba,ABW,Livestock production index (2014-2016 = 100),AG.PRD.LVSK.XD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Aruba,ABW,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Aruba,ABW,Crop production index (2014-2016 = 100),AG.PRD.CROP.XD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Aruba,ABW,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Aruba,ABW,"Agricultural machinery, tractors per 100 sq. k...",AG.LND.TRAC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Aruba,ABW,Rural land area (sq. km),AG.LND.TOTL.RU.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,84.800027,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Aruba,ABW,Land area (sq. km),AG.LND.TOTL.K2,NaN,180.000000,180.000000,180.0000,180.000000,180.000000,...,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,NaN
26,Aruba,ABW,Average precipitation in depth (mm per year),AG.LND.PRCP.MM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Aruba,ABW,Agricultural irrigated land (% of total agricu...,AG.LND.IRIG.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Aruba,ABW,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,NaN
29,Aruba,ABW,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,NaN

In [2]:
Indicadores.tail(30)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
11142,Zimbabwe,ZWE,Agricultural nitrous oxide emissions (% of total),EN.ATM.NOXE.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11143,Zimbabwe,ZWE,Agricultural nitrous oxide emissions (thousand...,EN.ATM.NOXE.AG.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,4.986821e+03,4.323563e+03,4.785880e+03,4.341413e+03,4.536216e+03,4.561963e+03,4.548106e+03,4.052353e+03,NaN,NaN
11144,Zimbabwe,ZWE,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11145,Zimbabwe,ZWE,Agricultural methane emissions (thousand metri...,EN.ATM.METH.AG.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,7.001040e+03,5.898355e+03,6.647917e+03,6.144390e+03,6.228523e+03,6.380312e+03,6.441517e+03,5.947110e+03,NaN,NaN
11146,Zimbabwe,ZWE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.891301e+01,7.691810e+00,1.094932e+01,2.194609e+01,2.424417e+01,2.637914e+01,2.828496e+01,3.706025e+01,3.163546e+01,NaN
11147,Zimbabwe,ZWE,Cereal yield (kg per hectare),AG.YLD.CREL.KG,NaN,9.197000e+02,9.059000e+02,8.225000e+02,8.205000e+02,9.308000e+02,...,6.685000e+02,8.314000e+02,5.575000e+02,4.351000e+02,1.203300e+03,1.254300e+03,7.480000e+02,1.148600e+03,1.545200e+03,NaN
11148,Zimbabwe,ZWE,Surface area (sq. km),AG.SRF.TOTL.K2,NaN,3.907600e+05,3.907600e+05,3.907600e+05,3.907600e+05,3.907600e+05,...,3.907600e+05,3.907600e+05,3.907600e+05,3.907600e+05,3.907600e+05,3.907600e+05,3.907600e+05,3.907600e+05,3.907600e+05,NaN
11149,Zimbabwe,ZWE,Livestock production index (2014-2016 = 100),AG.PRD.LVSK.XD,NaN,1.254000e+01,1.261000e+01,1.277000e+01,1.250000e+01,1.286000e+01,...,1.130200e+02,9.385000e+01,1.023000e+02,1.038500e+02,1.019800e+02,1.036100e+02,1.066700e+02,1.056100e+02,1.301600e+02,NaN
11150,Zimbabwe,ZWE,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,2.082000e+01,2.259000e+01,2.149000e+01,2.139000e+01,2.173000e+01,...,1.122100e+02,9.689000e+01,1.011900e+02,1.019200e+02,1.065500e+02,1.088600e+02,1.055500e+02,1.096000e+02,1.320400e+02,NaN
11151,Zimbabwe,ZWE,Crop production index (2014-2016 = 100),AG.PRD.CROP.XD,NaN,4.944000e+01,5.424000e+01,4.812000e+01,5.999000e+01,5.501000e+01,...,1.102700e+02,1.095100e+02,9.635000e+01,9.414000e+01,1.070700e+02,1.358700e+02,1.038500e+02,1.251900e+02,1.285800e+02,NaN
11152,Zimbabwe,ZWE,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,1.266453e+06,1.225137e+06,1.030933e+06,1.028799e+06,1.134571e+06,...,1.152560e+06,1.230994e+06,8.002844e+05,6.767474e+05,1.748339e+06,1.780776e+06,1.023358e+06,1.660855e+06,2.043298e+06,NaN
11153,Zimbabwe,ZWE,"Agricultural machinery, tractors per 100 sq. k...",AG.LND.TRAC.ZS,NaN,6.666844e+01,6.645995e+01,6.549118e+01,6.535627e+01,6.585956e+01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11154,Zimbabwe,ZWE,Rural land area (sq. km),AG.LND.TOTL.RU.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.862362e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11155,Zimbabwe,ZWE,Land area (sq. km),AG.LND.TOTL.K2,NaN,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,...,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,NaN
11156,Zimbabwe,ZWE,Average precipitation in depth (mm per year),AG.LND.PRCP.MM,NaN,6.570000e+02,6.570000e+02,6.570000e+02,6.570000e+02,6.570000e+02,...,6.570000e+02,6.570000e+02,6.570000e+02,6.570000e+02,6.570000e+02,6.570000e+02,6.570000e+02,6.570000e+02,NaN,NaN
11157,Zimbabwe,ZWE,Agricultural irrigated land (% of total agricu...,AG.LND.IRIG.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11158,Zimbabwe,ZWE,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.592754e+01,4.580845e+01,4.568936e+01,4.557027e+01,4.545118e+01,4.533209e+01,4.521300e+01,4.509391e+01,4.497482e+01,NaN
11159,Zimbabwe,ZWE,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,1.776707e+05,1.772100e+05,1.767493e+05,1.762886e+05,1.758279e+05,1.753672e+05,1.749065e+05,1.744458e+05,1.739851e+05,NaN
11160,Zimbabwe,ZWE,Rural land area where elevation is below 5 met...,AG.LND.EL5M.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11161,Zimbabwe,ZWE,Rural land area where elevation is below 5 met...,AG.LND.EL5M.RU.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11162,Zimbabwe,ZWE,Permanent cropland (% of land area),AG.LND.CROP.ZS,NaN,2.584981e-01,2.584981e-01,2.584981e-01,2.584981e-01,2.584981e-01,...,2.584981e-01,2.584981e-01,2.584981e-01,2.584981e-01,2.584981e-01,2.584981e-01,2.584981e-01,2.584981e-01,2.584981e-01,NaN
11163,Zimbabwe,ZWE,Land under cereal production (hectares),AG.LND.CREL.HA,NaN,1.377015e+06,1.352412e+06,1.253451e+06,1.253793e+06,1.218923e+06,...,1.724066e+06,1.480689e+06,1.435446e+06,1.555272e+06,1.452971e+06,1.419684e+06,1.368117e+06,1.446029e+06,1.322342e+06,NaN
11164,Zimbabwe,ZWE,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,4.872690e+00,5.001939e+00,5.131188e+00,5.260437e+00,5.337986e+00,...,1.033993e+01,1.033993e+01,1.033993e+01,1.033993e+01,1.033993e+01,1.033993e+01,1.033993e+01,1.033993e+01,1.033993e+01,NaN
11165,Zimbabwe,ZWE,Arable land (hectares per person),AG.LND.ARBL.HA.PC,NaN,4.801383e-01,4.778040e-01,4.751156e-01,4.721214e-01,4.643424e-01,...,2.950849e-01,2.886887e-01,2.825869e-01,2.767648e-01,2.711662e-01,2.657422e-01,2.605081e-01,2.552703e-01,2.501012e-01,NaN
11166,Zimbabwe,ZWE,Arable land (hectares),AG.LND.ARBL.HA,NaN,1.885000e+06,1.935000e+06,1.985000e+06,2.035000e+06,2.065000e+06,...,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,NaN
11167,Zimbabwe,ZWE,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,2.839602e+01,2.861574e+01,2.883547e+01,2.905519e+01,2.922321e+01,...,4.187670e+01,4.187670e+01,4.187670e+01,4.187670e+01,4.187670e+01,4.187670e+01,4.187670e+01,4.187670e+01,4.187670e+01,NaN
11168,Zimbabwe,ZWE,Agricultural land (sq. km),AG.LND.AGRI.K2,NaN,1.098500e+05,1.107000e+05,1.115500e+05,1.124000e+05,1.130500e+05,...,1.620000e+05,1.620000e+05,1.620000e+05,1.620000e+05,1.620000e+05,1.620000e+05,1.620000e+05,1.620000e+05,1.620000e+05,NaN
11169,Zimbabwe,ZWE,Fertilizer consumption (kilograms per hectare ...,AG.CON.FERT.ZS,NaN,2.195756e+01,2.021189e+01,2.423174e+01,3.390663e+01,3.631961e+01,...,2.562500e+01,2.577500e+01,1.965000e+01,3.257500e+01,3.660000e+01,3.320000e+01,3.320000e+01,2.597500e+01,2.597500e+01,NaN
11170,Zimbabwe,ZWE,Fertilizer consumption (% of fertilizer produc...,AG.CON.FERT.PT.ZS,NaN,3.762727e+02,3.555455e+02,3.206667e+02,4.600000e+02,3.750000e+02,...,3.687050e+02,3.494915e+02,2.511182e+02,9.442029e+02,6.715596e+02,6.234742e+02,6.234742e+02,2.124744e+02,2.124744e+02,NaN
11171,Zimbabwe,ZWE,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,1.256700e+04,1.286000e+04,1.300000e+04,1.330000e+04,1.360000e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Entendiendo los datos

Luego de revisar los **30 primeros** y **30 ultimos registros**; Sabemos que hay varios _indicadores_ por pais en la _misma columna_ y podemos volverlos sub tablas. Donde **de cada pais** sacaremos cada _indicador_ en un nuevo **data frame**. Pero antes vamos a entender mejor **la estructura de la tabla** con el uso de `_shape_ y de _columns_`

In [3]:
print(Indicadores.shape)

(11172, 67)

* Observamos que hay 11.172 (oncemilciento setenta y dos) registros.

In [4]:
print(Indicadores.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype='object')

* Tambien notamos que las columnas tienen la informacion del pais y su codigo de pais (_este segundo lo podemos usar para graficar_) luego podemosnotar que esta los **indicadores** y por ultimo los **aÃ±os** entonces podemos ver el **cambio** en el tiempo de los paises y comparar dicho cambio entre paises.

In [5]:
# Indicadores.info()
Indicadores.index

RangeIndex(start=0, stop=11172, step=1)

## Primeros aproximamientos a los datos y Conclusion de su estructura inicial

### Datos faltantes 

Podemos observar que los registros para ningun pais estan completos asi como hay aÃ±os donde, hay mas registros que en otros.

Queremos ahora saber que paiese estan listados. 
> "
> Segun la base de datos serian todos
> "

In [6]:
paises = Indicadores['Country Name'].unique()
paises

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkiye', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Viet Nam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

- Encontramos qu ehay mas que solo paieses, tambien hay agrupaciones por **Regiones Geograficas**

In [7]:
lista_paises = []
lista_regiones = []
def separar_paises_regiones(paises):
  """
  This function separates countries from regions in a list or NumPy array of country names.

  Args:
      paises (list or np.ndarray): A list of strings or a NumPy array containing country names and region names.

  Returns:
      tuple: A tuple containing two lists:
          - lista_paises: A list of countries identified by keywords like "Rep.", 
                          "Dem. Rep." or not containing indicators of regions.
          - lista_regiones: A list of region names.
  """

  

  # Check if 'paises' is a NumPy array and convert it to a list if necessary
  if isinstance(paises, np.ndarray):
    paises = paises.tolist()

  for pais in paises:
    # Check for keywords indicating regions
    if ("East" in pais) or ("West" in pais) or ("Central" in pais) or ("Southern" in pais) or ("Northern" in pais) or ("Latin America" in pais) or ("Europe" in pais) or ("Sub-Saharan Africa" in pais) or ("Arab World" in pais) or ("Middle East" in pais) or ("Asia" in pais) or ("Pacific" in pais) or ("Caribbean" in pais) or ("Baltics" in pais) or ("IDA" in pais) or ("IBRD" in pais) or ("high income" in pais) or ("low income" in pais) or ("middle income" in pais) or ("least developed" in pais) or ("developing" in pais) or ("developed" in pais) or ("small states" in pais) or ("UN classification" in pais) or ("OECD" in pais) or ("Fragile and conflict affected situations" in pais) or ("Heavily indebted poor countries (HIPC)" in pais) or ("Low income" in pais) or ("Late-demographic dividend" in pais): # or ("Pre-demographic dividend" in pais) or ("Post-demographic dividend" in pais) or ("North America" in paises) # or ("World" in paises)
      lista_regiones.append(pais)
    else:
      # Check for country indicators like "Rep." or "Dem. Rep."
      if ("Rep." in pais) or ("Dem. Rep." in pais):
        lista_paises.append(pais)
      # Otherwise, assume it's a country
      else:
        lista_paises.append(pais)
  return lista_paises, lista_regiones

lista_paises, lista_regiones = separar_paises_regiones(paises)

print("PaÃ­ses:")
lista_paises

# print("\nRegiones:")
# lista_regiones

PaÃ­ses:

['Aruba',
 'Afghanistan',
 'Angola',
 'Albania',
 'Andorra',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'American Samoa',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas, The',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bermuda',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Brunei Darussalam',
 'Bhutan',
 'Botswana',
 'Canada',
 'Switzerland',
 'Channel Islands',
 'Chile',
 'China',
 "Cote d'Ivoire",
 'Cameroon',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Colombia',
 'Comoros',
 'Cabo Verde',
 'Costa Rica',
 'Cuba',
 'Curacao',
 'Cayman Islands',
 'Cyprus',
 'Czechia',
 'Germany',
 'Djibouti',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Early-demographic dividend',
 'Ecuador',
 'Egypt, Arab Rep.',
 'Euro area',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'Finland',
 'Fiji',
 'France',
 'Faroe Islands',
 'Micronesia, Fed. Sts.',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Gibraltar',
 'Guinea',
 'Gambia, The',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Greenland',
 'Guatemala',
 'Guam',
 'Guyana',
 'High income',
 'Hong Kong SAR, China',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'Isle of Man',
 'India',
 'Not classified',
 'Ireland',
 'Iran, Islamic Rep.',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyz Republic',
 'Cambodia',
 'Kiribati',
 'St. Kitts and Nevis',
 'Korea, Rep.',
 'Kuwait',
 'Lao PDR',
 'Lebanon',
 'Liberia',
 'Libya',
 'St. Lucia',
 'Liechtenstein',
 'Sri Lanka',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Macao SAR, China',
 'St. Martin (French part)',
 'Morocco',
 'Monaco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Mexico',
 'Marshall Islands',
 'Middle income',
 'North Macedonia',
 'Mali',
 'Malta',
 'Myanmar',
 'Montenegro',
 'Mongolia',
 'Mozambique',
 'Mauritania',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'North America',
 'Namibia',
 'New Caledonia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'New Zealand',
 'Oman',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'Pre-demographic dividend',
 'Puerto Rico',
 "Korea, Dem. People's Rep.",
 'Portugal',
 'Paraguay',
 'Post-demographic dividend',
 'French Polynesia',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'San Marino',
 'Somalia',
 'Serbia',
 'South Sudan',
 'Small states',
 'Sao Tome and Principe',
 'Suriname',
 'Slovak Republic',
 'Slovenia',
 'Sweden',
 'Eswatini',
 'Sint Maarten (Dutch part)',
 'Seychelles',
 'Syrian Arab Republic',
 'Turks and Caicos Islands',
 'Chad',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'Timor-Leste',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkiye',
 'Tuvalu',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'St. Vincent and the Grenadines',
 'Venezuela, RB',
 'British Virgin Islands',
 'Virgin Islands (U.S.)',
 'Viet Nam',
 'Vanuatu',
 'World',
 'Samoa',
 'Kosovo',
 'Yemen, Rep.',
 'South Africa',
 'Zambia',
 'Zimbabwe']

### Filtrando los paiese y las regiones

Al filtrar los paiese y las regiones, notamos que la tabla tiene subdivisones, donde por ejemplo esta Norte America, que incluye a Estados Unidos de America, Mexico y Canada, si separamos dicha region en otra lista, no solo se lleva la region, sino tambien los paieses en ella.

In [8]:
df_indices = Indicadores['Indicator Name'].unique()
print("El numero de Indicadores por el metodo len es: ",len(df_indices), "El numero de filas y columnas por el metodo size es: ",  df_indices.size)
df_indices

El numero de Indicadores por el metodo len es:  42 El numero de filas y columnas por el metodo size es:  42

array(['Agricultural raw materials exports (% of merchandise exports)',
       'Agricultural raw materials imports (% of merchandise imports)',
       'Rural population (% of total population)',
       'Rural population growth (annual %)', 'Rural population',
       'Employment in agriculture (% of total employment) (modeled ILO estimate)',
       'Employment in agriculture, male (% of male employment) (modeled ILO estimate)',
       'Employment in agriculture, female (% of female employment) (modeled ILO estimate)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Agriculture, forestry, and fishing, value added (current US$)',
       'Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)',
       'Rural population living in areas where elevation is below 5 meters (% of total population)',
       'Agricultural nitrous oxide emissions (% of total)',
       'Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)',
       'Agricultural methane emissions (% of total)',
       'Agricultural methane emissions (thousand metric tons of CO2 equivalent)',
       'Access to electricity, rural (% of rural population)',
       'Cereal yield (kg per hectare)', 'Surface area (sq. km)',
       'Livestock production index (2014-2016 = 100)',
       'Food production index (2014-2016 = 100)',
       'Crop production index (2014-2016 = 100)',
       'Cereal production (metric tons)',
       'Agricultural machinery, tractors per 100 sq. km of arable land',
       'Rural land area (sq. km)', 'Land area (sq. km)',
       'Average precipitation in depth (mm per year)',
       'Agricultural irrigated land (% of total agricultural land)',
       'Forest area (% of land area)', 'Forest area (sq. km)',
       'Rural land area where elevation is below 5 meters (% of total land area)',
       'Rural land area where elevation is below 5 meters (sq. km)',
       'Permanent cropland (% of land area)',
       'Land under cereal production (hectares)',
       'Arable land (% of land area)',
       'Arable land (hectares per person)', 'Arable land (hectares)',
       'Agricultural land (% of land area)', 'Agricultural land (sq. km)',
       'Fertilizer consumption (kilograms per hectare of arable land)',
       'Fertilizer consumption (% of fertilizer production)',
       'Agricultural machinery, tractors'], dtype=object)

### Indicadores

Ahora en los datos de arriba podemos observar los indicadores usados, sabemos que son **42 (cuarenta y dos) indicadores**, ahora los usaremos _como dato de referencia_ para ordernar la informacion.

In [9]:
df_ExportaciondeMaterialesAgricolasenCrudo = Indicadores[ Indicadores['Indicator Name'] == 'Agricultural raw materials exports (% of merchandise exports)']
df_ExportaciondeMaterialesAgricolasenCrudo

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.046919,0.055358,0.092621,0.085188,0.079480,0.076267,0.104098,0.069199,0.102736,NaN
42,Africa Eastern and Southern,AFE,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.070758,1.662349,2.036478,2.166962,2.164967,2.042720,2.018790,1.988713,1.931824,1.381521
84,Afghanistan,AFG,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,53.755852,61.100605,54.437183,45.760896,...,0.036992,0.047523,14.799067,16.359109,17.063634,16.694599,21.035060,NaN,NaN,NaN
126,Africa Western and Central,AFW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,20.203394,20.523648,20.290619,18.016309,...,5.221642,3.722272,3.366732,4.586316,4.174860,4.178058,4.004207,4.102483,NaN,NaN
168,Angola,AGO,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,13.664356,NaN,NaN,NaN,...,0.001974,0.008441,0.033736,0.233868,0.262744,0.357368,0.055077,0.092253,0.002204,0.001427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10962,Kosovo,XKX,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11004,"Yemen, Rep.",YEM,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.158565,0.643776,1.549085,NaN,NaN,NaN,0.017167,NaN,NaN,NaN
11046,South Africa,ZAF,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.948755,2.049448,2.302119,2.465114,2.368871,2.322444,1.883488,2.006564,1.704013,1.934010
11088,Zambia,ZMB,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.157423,1.802165,1.460892,1.504282,0.800512,0.940920,1.330600,0.861170,0.699421,NaN
11130,Zimbabwe,ZWE,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.516479,3.751916,3.501931,2.880592,1.976860,3.223298,2.208890,1.737139,2.168829,1.267577

In [10]:
df_ExportaciondeMaterialesAgricolasenCrudo1 = Indicadores.query("`Indicator Name` == 'Agricultural raw materials exports (% of merchandise exports)'")
df_ExportaciondeMaterialesAgricolasenCrudo1

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.046919,0.055358,0.092621,0.085188,0.079480,0.076267,0.104098,0.069199,0.102736,NaN
42,Africa Eastern and Southern,AFE,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.070758,1.662349,2.036478,2.166962,2.164967,2.042720,2.018790,1.988713,1.931824,1.381521
84,Afghanistan,AFG,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,53.755852,61.100605,54.437183,45.760896,...,0.036992,0.047523,14.799067,16.359109,17.063634,16.694599,21.035060,NaN,NaN,NaN
126,Africa Western and Central,AFW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,20.203394,20.523648,20.290619,18.016309,...,5.221642,3.722272,3.366732,4.586316,4.174860,4.178058,4.004207,4.102483,NaN,NaN
168,Angola,AGO,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,13.664356,NaN,NaN,NaN,...,0.001974,0.008441,0.033736,0.233868,0.262744,0.357368,0.055077,0.092253,0.002204,0.001427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10962,Kosovo,XKX,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11004,"Yemen, Rep.",YEM,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.158565,0.643776,1.549085,NaN,NaN,NaN,0.017167,NaN,NaN,NaN
11046,South Africa,ZAF,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.948755,2.049448,2.302119,2.465114,2.368871,2.322444,1.883488,2.006564,1.704013,1.934010
11088,Zambia,ZMB,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.157423,1.802165,1.460892,1.504282,0.800512,0.940920,1.330600,0.861170,0.699421,NaN
11130,Zimbabwe,ZWE,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.516479,3.751916,3.501931,2.880592,1.976860,3.223298,2.208890,1.737139,2.168829,1.267577

### Revision del filtrado

Habiendo usado dos metodos para filtrar la informacion encontramos que los valoes **_NaN_** nos aparecen como false, buscando en internet encontramos que:
> " 
> If your DataFrame has missing values (represented by NaN or None), the comparison might not behave as expected depending on how missing values are handled.
> "

In [11]:
df2 = (df_ExportaciondeMaterialesAgricolasenCrudo == df_ExportaciondeMaterialesAgricolasenCrudo1)
df2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,True,True,True,True,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
42,True,True,True,True,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
84,True,True,True,True,False,False,True,True,True,True,...,True,True,True,True,True,True,True,False,False,False
126,True,True,True,True,False,False,True,True,True,True,...,True,True,True,True,True,True,True,True,False,False
168,True,True,True,True,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10962,True,True,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11004,True,True,True,True,False,False,False,False,False,False,...,True,True,True,False,False,False,True,False,False,False
11046,True,True,True,True,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
11088,True,True,True,True,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
11130,True,True,True,True,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [12]:
df_ExportaciondeMaterialesAgricolasenCrudo.isnull().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              266
                 ...
2018               61
2019               66
2020               75
2021               82
2022              136
Length: 67, dtype: int64

In [13]:
df_ExportaciondeMaterialesAgricolasenCrudo1.isnull().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              266
                 ...
2018               61
2019               66
2020               75
2021               82
2022              136
Length: 67, dtype: int64

In [14]:
df_ExportaciondeMaterialesAgricolasenCrudo.dropna( how='all', inplace=True)
df_ExportaciondeMaterialesAgricolasenCrudo

/var/folders/n7/x0fwwp8x0jvgxqnmqjfvghqh0000gn/T/ipykernel_13548/1398959849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ExportaciondeMaterialesAgricolasenCrudo.dropna( how='all', inplace=True)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.046919,0.055358,0.092621,0.085188,0.079480,0.076267,0.104098,0.069199,0.102736,NaN
42,Africa Eastern and Southern,AFE,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.070758,1.662349,2.036478,2.166962,2.164967,2.042720,2.018790,1.988713,1.931824,1.381521
84,Afghanistan,AFG,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,53.755852,61.100605,54.437183,45.760896,...,0.036992,0.047523,14.799067,16.359109,17.063634,16.694599,21.035060,NaN,NaN,NaN
126,Africa Western and Central,AFW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,20.203394,20.523648,20.290619,18.016309,...,5.221642,3.722272,3.366732,4.586316,4.174860,4.178058,4.004207,4.102483,NaN,NaN
168,Angola,AGO,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,13.664356,NaN,NaN,NaN,...,0.001974,0.008441,0.033736,0.233868,0.262744,0.357368,0.055077,0.092253,0.002204,0.001427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10962,Kosovo,XKX,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11004,"Yemen, Rep.",YEM,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.158565,0.643776,1.549085,NaN,NaN,NaN,0.017167,NaN,NaN,NaN
11046,South Africa,ZAF,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.948755,2.049448,2.302119,2.465114,2.368871,2.322444,1.883488,2.006564,1.704013,1.934010
11088,Zambia,ZMB,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.157423,1.802165,1.460892,1.504282,0.800512,0.940920,1.330600,0.861170,0.699421,NaN
11130,Zimbabwe,ZWE,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.516479,3.751916,3.501931,2.880592,1.976860,3.223298,2.208890,1.737139,2.168829,1.267577

### Limpiamos los datos las filas que todas son nulas

A continuacion vamos a revisar los datos eliminados con los filtrados

In [15]:
df_ExportaciondeMaterialesAgricolasenCrudo.index

Index([    0,    42,    84,   126,   168,   210,   252,   294,   336,   378,
       ...
       10752, 10794, 10836, 10878, 10920, 10962, 11004, 11046, 11088, 11130],
      dtype='int64', length=266)

In [16]:
df_ExportaciondeMaterialesAgricolasenCrudo1.index

Index([    0,    42,    84,   126,   168,   210,   252,   294,   336,   378,
       ...
       10752, 10794, 10836, 10878, 10920, 10962, 11004, 11046, 11088, 11130],
      dtype='int64', length=266)

In [17]:
df_ExportaciondeMaterialesAgricolasenCrudo1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, 0 to 11130
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            88 non-null     float64
 7   1963            94 non-null     float64
 8   1964            93 non-null     float64
 9   1965            100 non-null    float64
 10  1966            104 non-null    float64
 11  1967            104 non-null    float64
 12  1968            108 non-null    float64
 13  1969            107 non-null    float64
 14  1970            127 non-null    float64
 15  1971            130 non-null    float64
 16  1972            136 non-null    float64
 17  1973            136 non-null    float64
 18  1974            148 non-null    float64
 19  1975            149 non-null    float64
 20  1976            147 non-null    float64
 21  1977            143 non-null    float64
 22  1978            146 non-null    float64
 23  1979            144 non-null    float64
 24  1980            127 non-null    float64
 25  1981            131 non-null    float64
 26  1982            119 non-null    float64
 27  1983            120 non-null    float64
 28  1984            123 non-null    float64
 29  1985            119 non-null    float64
 30  1986            120 non-null    float64
 31  1987            120 non-null    float64
 32  1988            37 non-null     float64
 33  1989            54 non-null     float64
 34  1990            71 non-null     float64
 35  1991            83 non-null     float64
 36  1992            108 non-null    float64
 37  1993            122 non-null    float64
 38  1994            133 non-null    float64
 39  1995            144 non-null    float64
 40  1996            165 non-null    float64
 41  1997            176 non-null    float64
 42  1998            176 non-null    float64
 43  1999            188 non-null    float64
 44  2000            211 non-null    float64
 45  2001            209 non-null    float64
 46  2002            213 non-null    float64
 47  2003            211 non-null    float64
 48  2004            205 non-null    float64
 49  2005            205 non-null    float64
 50  2006            210 non-null    float64
 51  2007            216 non-null    float64
 52  2008            212 non-null    float64
 53  2009            217 non-null    float64
 54  2010            217 non-null    float64
 55  2011            214 non-null    float64
 56  2012            209 non-null    float64
 57  2013            213 non-null    float64
 58  2014            209 non-null    float64
 59  2015            212 non-null    float64
 60  2016            212 non-null    float64
 61  2017            213 non-null    float64
 62  2018            205 non-null    float64
 63  2019            200 non-null    float64
 64  2020            191 non-null    float64
 65  2021            184 non-null    float64
 66  2022            130 non-null    float64
dtypes: float64(63), object(4)
memory usage: 141.3+ KB

In [18]:
df_ExportaciondeMaterialesAgricolasenCrudo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, 0 to 11130
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            88 non-null     float64
 7   1963            94 non-null     float64
 8   1964            93 non-null     float64
 9   1965            100 non-null    float64
 10  1966            104 non-null    float64
 11  1967            104 non-null    float64
 12  1968            108 non-null    float64
 13  1969            107 non-null    float64
 14  1970            127 non-null    float64
 15  1971            130 non-null    float64
 16  1972            136 non-null    float64
 17  1973            136 non-null    float64
 18  1974            148 non-null    float64
 19  1975            149 non-null    float64
 20  1976            147 non-null    float64
 21  1977            143 non-null    float64
 22  1978            146 non-null    float64
 23  1979            144 non-null    float64
 24  1980            127 non-null    float64
 25  1981            131 non-null    float64
 26  1982            119 non-null    float64
 27  1983            120 non-null    float64
 28  1984            123 non-null    float64
 29  1985            119 non-null    float64
 30  1986            120 non-null    float64
 31  1987            120 non-null    float64
 32  1988            37 non-null     float64
 33  1989            54 non-null     float64
 34  1990            71 non-null     float64
 35  1991            83 non-null     float64
 36  1992            108 non-null    float64
 37  1993            122 non-null    float64
 38  1994            133 non-null    float64
 39  1995            144 non-null    float64
 40  1996            165 non-null    float64
 41  1997            176 non-null    float64
 42  1998            176 non-null    float64
 43  1999            188 non-null    float64
 44  2000            211 non-null    float64
 45  2001            209 non-null    float64
 46  2002            213 non-null    float64
 47  2003            211 non-null    float64
 48  2004            205 non-null    float64
 49  2005            205 non-null    float64
 50  2006            210 non-null    float64
 51  2007            216 non-null    float64
 52  2008            212 non-null    float64
 53  2009            217 non-null    float64
 54  2010            217 non-null    float64
 55  2011            214 non-null    float64
 56  2012            209 non-null    float64
 57  2013            213 non-null    float64
 58  2014            209 non-null    float64
 59  2015            212 non-null    float64
 60  2016            212 non-null    float64
 61  2017            213 non-null    float64
 62  2018            205 non-null    float64
 63  2019            200 non-null    float64
 64  2020            191 non-null    float64
 65  2021            184 non-null    float64
 66  2022            130 non-null    float64
dtypes: float64(63), object(4)
memory usage: 141.3+ KB

In [19]:
df_ExportaciondeMaterialesAgricolasenCrudoReindexado = df_ExportaciondeMaterialesAgricolasenCrudo.reset_index(drop = True)

# Eliminar filas que contienen valores nulos
# df = df.dropna()

# Reindexar el DataFrame
# df = df.reset_index(drop=True)
df_ExportaciondeMaterialesAgricolasenCrudoReindexado

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.046919,0.055358,0.092621,0.085188,0.079480,0.076267,0.104098,0.069199,0.102736,NaN
1,Africa Eastern and Southern,AFE,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.070758,1.662349,2.036478,2.166962,2.164967,2.042720,2.018790,1.988713,1.931824,1.381521
2,Afghanistan,AFG,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,53.755852,61.100605,54.437183,45.760896,...,0.036992,0.047523,14.799067,16.359109,17.063634,16.694599,21.035060,NaN,NaN,NaN
3,Africa Western and Central,AFW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,20.203394,20.523648,20.290619,18.016309,...,5.221642,3.722272,3.366732,4.586316,4.174860,4.178058,4.004207,4.102483,NaN,NaN
4,Angola,AGO,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,13.664356,NaN,NaN,NaN,...,0.001974,0.008441,0.033736,0.233868,0.262744,0.357368,0.055077,0.092253,0.002204,0.001427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.158565,0.643776,1.549085,NaN,NaN,NaN,0.017167,NaN,NaN,NaN
263,South Africa,ZAF,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.948755,2.049448,2.302119,2.465114,2.368871,2.322444,1.883488,2.006564,1.704013,1.934010
264,Zambia,ZMB,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.157423,1.802165,1.460892,1.504282,0.800512,0.940920,1.330600,0.861170,0.699421,NaN
265,Zimbabwe,ZWE,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.516479,3.751916,3.501931,2.880592,1.976860,3.223298,2.208890,1.737139,2.168829,1.267577

### Removiendo las colimnas que solo tienen datos NAN

Sabemos que las columnas  1960 y 1961 son solo datos nullos las podemos remover basados en la informacion obtenida anteriormente
> ````
>   Column          Non-Null Count  Dtype  
>   1960            0 non-null      float64
>   1961            0 non-null      float64
> ````

In [20]:
df_ExportaciondeMaterialesAgricolasenCrudoReindexado.drop(['1960','1961'], axis=1, inplace=True)
df_ExportaciondeMaterialesAgricolasenCrudoReindexado

,Country Name,Country Code,Indicator Name,Indicator Code,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.046919,0.055358,0.092621,0.085188,0.079480,0.076267,0.104098,0.069199,0.102736,NaN
1,Africa Eastern and Southern,AFE,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.070758,1.662349,2.036478,2.166962,2.164967,2.042720,2.018790,1.988713,1.931824,1.381521
2,Afghanistan,AFG,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,53.755852,61.100605,54.437183,45.760896,51.714982,46.355726,...,0.036992,0.047523,14.799067,16.359109,17.063634,16.694599,21.035060,NaN,NaN,NaN
3,Africa Western and Central,AFW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,20.203394,20.523648,20.290619,18.016309,18.584310,17.145280,...,5.221642,3.722272,3.366732,4.586316,4.174860,4.178058,4.004207,4.102483,NaN,NaN
4,Angola,AGO,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,13.664356,NaN,NaN,NaN,NaN,NaN,...,0.001974,0.008441,0.033736,0.233868,0.262744,0.357368,0.055077,0.092253,0.002204,0.001427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.158565,0.643776,1.549085,NaN,NaN,NaN,0.017167,NaN,NaN,NaN
263,South Africa,ZAF,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.948755,2.049448,2.302119,2.465114,2.368871,2.322444,1.883488,2.006564,1.704013,1.934010
264,Zambia,ZMB,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,0.359047,0.243751,...,2.157423,1.802165,1.460892,1.504282,0.800512,0.940920,1.330600,0.861170,0.699421,NaN
265,Zimbabwe,ZWE,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.516479,3.751916,3.501931,2.880592,1.976860,3.223298,2.208890,1.737139,2.168829,1.267577

Despues de eliminar las columnas sin datos vamos a ser una re-indexacion con los nombres de los paises, para ello usaremos el metodo `set_index()`

In [21]:
df_paragraficar = df_ExportaciondeMaterialesAgricolasenCrudoReindexado.set_index('Country Name', inplace=False)

In [22]:
df_ExportaciondeMaterialesAgricolasenCrudoReindexado

,Country Name,Country Code,Indicator Name,Indicator Code,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.046919,0.055358,0.092621,0.085188,0.079480,0.076267,0.104098,0.069199,0.102736,NaN
1,Africa Eastern and Southern,AFE,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.070758,1.662349,2.036478,2.166962,2.164967,2.042720,2.018790,1.988713,1.931824,1.381521
2,Afghanistan,AFG,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,53.755852,61.100605,54.437183,45.760896,51.714982,46.355726,...,0.036992,0.047523,14.799067,16.359109,17.063634,16.694599,21.035060,NaN,NaN,NaN
3,Africa Western and Central,AFW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,20.203394,20.523648,20.290619,18.016309,18.584310,17.145280,...,5.221642,3.722272,3.366732,4.586316,4.174860,4.178058,4.004207,4.102483,NaN,NaN
4,Angola,AGO,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,13.664356,NaN,NaN,NaN,NaN,NaN,...,0.001974,0.008441,0.033736,0.233868,0.262744,0.357368,0.055077,0.092253,0.002204,0.001427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.158565,0.643776,1.549085,NaN,NaN,NaN,0.017167,NaN,NaN,NaN
263,South Africa,ZAF,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.948755,2.049448,2.302119,2.465114,2.368871,2.322444,1.883488,2.006564,1.704013,1.934010
264,Zambia,ZMB,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,0.359047,0.243751,...,2.157423,1.802165,1.460892,1.504282,0.800512,0.940920,1.330600,0.861170,0.699421,NaN
265,Zimbabwe,ZWE,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.516479,3.751916,3.501931,2.880592,1.976860,3.223298,2.208890,1.737139,2.168829,1.267577

In [26]:
df_ExportaciondeMaterialesAgricolasenCrudo.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
count,0.0,0.0,88.000000,94.000000,93.000000,100.000000,104.000000,104.000000,108.000000,107.000000,...,213.000000,209.000000,212.000000,212.000000,213.000000,205.000000,200.000000,191.000000,184.000000,130.000000
mean,NaN,NaN,14.713578,14.481208,14.224303,14.771472,14.643080,13.964583,13.504752,13.287373,...,3.184838,3.462454,2.861862,3.277129,3.208924,3.252580,2.868865,2.577371,2.579565,2.198985
std,NaN,NaN,15.201082,15.366078,15.393449,15.398453,15.329017,15.274939,15.304934,15.168285,...,6.574592,9.477091,5.265335,7.044947,6.803419,7.485717,5.958009,5.444232,6.088580,6.913698
min,NaN,NaN,0.022262,0.025381,0.021854,0.019341,0.041712,0.019146,0.021302,0.025454,...,0.000000,0.000224,0.000002,0.000484,0.000018,0.000000,0.000000,0.000032,0.002204,0.001427
25%,NaN,NaN,4.051940,4.109082,3.598575,4.178272,3.828724,3.559646,2.936047,3.127761,...,0.597705,0.531812,0.611210,0.677018,0.557417,0.515134,0.509051,0.561377,0.614889,0.493865
50%,NaN,NaN,9.144304,10.309248,9.178334,10.092859,10.157357,8.770311,7.943249,8.096671,...,1.530860,1.444097,1.488481,1.502973,1.455084,1.381410,1.330705,1.331006,1.301441,0.911271
75%,NaN,NaN,20.013693,17.858936,17.442019,19.439816,19.071849,20.817604,19.930048,15.941693,...,3.113348,2.629391,2.595508,2.840621,2.886009,2.799611,2.726697,2.658516,2.317108,1.811373
max,NaN,NaN,75.256697,79.962100,81.852079,80.093890,80.260715,86.116506,88.036462,85.013394,...,52.152172,98.947202,49.799360,68.239171,65.623290,73.289734,64.557311,64.643801,74.880805,76.839132

## Grafias

Ahora intentaremos graficar la informacion un poco para poder obtener los posibles resultados.

In [25]:
import matplotlib.pyplot as plt
df_estadisticosBasicos = df_ExportaciondeMaterialesAgricolasenCrudoReindexado.groupby('Country Name')['Indicator Name'].agg(['mean', 'std'])

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# Extract data for plotting
countries = df_estadisticosBasicos.index.to_numpy()
average_exports = df_estadisticosBasicos['mean'].to_numpy()
std_dev_exports = df_estadisticosBasicos['std'].to_numpy()

# Create the plot
plt.figure(figsize=(10, 6))  # Adjust figure size as needed
plt.plot(countries, average_exports, label='Average Exports')
plt.plot(countries, average_exports + std_dev_exports, label='Average + Std. Dev.')
plt.plot(countries, average_exports - std_dev_exports, label='Average - Std. Dev.')
plt.xticks(rotation=45, ha='right')  # Rotate country names for readability
plt.xlabel('Country')
plt.ylabel('Agricultural Raw Materials Exports (%)')
plt.title('Average and Dispersion of Exports by Country')
plt.legend()
plt.grid(True)
plt.tight_layout()
plt.show()

NameError: name 'df_estadisticosBasicos' is not defined